name: CI

on:
  push:
    branches:
      - main
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  run-shared:
    uses: ./.github/workflows/ci-shared.yml
    with:
      matrix: all
    secrets: inherit
