name: Manual Build & Test

on:
  workflow_dispatch:
    inputs:
      matrix:
        description: "Choose which matrix to run (all, packages, ui, linux)"
        required: false
        default: "all"
        type: choice
        options:
          - all
          - packages
          - ui
          - linux

jobs:
  run-shared-ci:
    uses: ./.github/workflows/ci-shared.yml
    with:
      matrix: ${{ github.event.inputs.matrix }}
    secrets: inherit
